@charset "UTF-8";

form{
    width: 500px;
    margin: auto;
}

input,textarea{
   font-family: sans-serif;
   font-weight: normal;
   font-size: 13pt;
}

input:hover,textarea:hover{
    background: #dddddd;
}

input{
    background-color:rgb(255, 255, 255,.2);
}

textarea{
    background-color:rgb(255, 255, 255,.2);
}
legend{
    color:rgb(0, 0, 0,.7);
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset{
    border-color: #cceecc;
    margin: 20px;
}

fieldset#sexo:hover{
    background: #dddddd;  
}

fieldset#sexo{
    width: 100px;
}

fieldset#usuario{
   background: url(../_imagens/icone-contato.png) no-repeat 95% 95%;
}

fieldset#endereco{
    background: url(../_imagens/icone-endereco.png) no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url(../_imagens/icone-mensagem.png) no-repeat 95% 95%;
}

fieldset#pedido{
    background: url(../_imagens/icone-pagamento.png) no-repeat 95% 95%;
}

a#link{
   position: absolute;
   margin-left: 203px;
   margin-top: 13px; 
}

